@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 200;
  src: local('Source Code Pro ExtraLight'), local('SourceCodePro-ExtraLight'), url(http://themes.googleusercontent.com/static/fonts/sourcecodepro/v4/leqv3v-yTsJNC7nFznSMqS-IiwWNzQT_LXAtr-Ee9Pw.woff) format('woff');
}
#rafvldfwcb .wrapper {
	height: 100%;
	width: 100%;
	padding: 10px;
	background-color: #fafafa;
	font-family: 'Source Code Pro', null;
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	text-transform: none;
	text-decoration: none;
	letter-spacing: 0em;
	word-spacing: 0em;
	line-height: 1.4;
}

#rafvldfwcb .msg {
	color: #FC6858;
	text-align: center;
}

#rafvldfwcb .quick-links {
	margin-top: 40px;
	padding-left: 0;
}
#rafvldfwcb .quick-link-btn {
	display: inline-block;
	margin: 5px;
}
#rafvldfwcb .link-btn {
	display: inline-block;
	padding: 5px 10px;
	text-decoration: none;
	background-color: #444;
	box-shadow: -2px 2px 4px #888;
	text-decoration: none;
	color: white;
	transition: color 300ms, box-shadow 200ms;
}
#rafvldfwcb .link-btn:visited {
	color: white;
}
#rafvldfwcb .link-btn:hover {
	color: #F94C31;
	box-shadow: 0 0 0 #888;
	transition: color 300ms, box-shadow 200ms;
}
